html, body {
	background-color: rgba(0,0,0,0);
	margin: 0;
    height: 100%;
}

#root {
    margin: 0;
    padding: 0;
    height: 100%;
}

.elem {
	padding: 6pt 12pt;
	white-space: nowrap;
}

.small {
    font-size: 24pt;
}

.flex-container {
    height: 100%;
    width: 100%;

	font-family: 'Rubik', sans-serif;
	text-align: center;
	font-size: 42pt;
	color: white;

    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;
}

#hud-container {
    height: 63pt;
}

#intermission-container {
    background-color: rgba(0,0,0,0.9);

    flex-direction: column;
    align-items: center;
}

#video-container {
    width: 70%;
    height: 70%;
    margin: 12pt;

    align-items: center;
}

#video-container > * {
    box-sizing: border-box;
    width: 100%;
    flex: none;
}

#video-player {
}

#image-container {
    pointer-events: none;
    z-index: 1;
}

#player-image {
    width: 50%;
    margin-left: -80%;
}

#hud-container > img {
    display: inline-block;
    height: 100%;
    width: auto;
}

#red-team {
	background-color: #FF0000E6;
}
#red-score {
	background-color: #AA0000E6;
}
#blue-team {
	background-color: #0000FFE6;
}
#blue-score {
	background-color: #0000AAE6;
}
#red-icon {
    background-color: #FF0000E6;
}
#blue-icon {
    background-color: #0000FFE6;
}
